<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h2 class="mt-3 display-4">Edit your answer!</h2>
    <br>
    <div>
        <form action="#" th:action="@{/answer/delete}" method="post">
            <input type="hidden" name="answerId" th:value="${answer.getId()}">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form action="#" th:action="@{/answer/edit}" method="post">
            <div class="form-group">
                <label for="text">Answer text</label>
                <textarea th:text="${answer.getText()}" name="text" type="text" class="form-control" id="text" placeholder="Enter text"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" th:checked="${answer.isRight()}" name="isRight" value="true" class="form-check-input" id="right">
                <label class="form-check-label" for="right">Is right?</label>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Answer questions</label>
                </div>
                <select name="questionId" class="custom-select" id="inputGroupSelect01">
                    <option th:value="${answer.getQuestion().getId()}" th:text="${answer.getQuestion().getTitle()}" selected>Choose question...</option>
                    <option th:each="question : ${questions}" th:value="${question.getId()}" th:text="${question.getTitle() + ' [' + question.getQuiz().getTitle() +']'}">One</option>
                </select>
            </div>
            <input type="hidden" name="answerId" th:value="${answer.getId()}">
            <button type="submit" class="btn btn-primary">Edit</button>

        </form>


    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>