<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css"/>
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <div class="d-flex mt-5 justify-content-center">
        <div class="card col-sm-4">
            <article class="card-body">
                <a th:href="@{/signup}" href="#" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Forgot password</h4>
                <form th:action="@{/forgot}" method="post">
                    <div class="form-group">
                        <label>Your email:</label>
                        <input name="email" class="form-control" placeholder="Email" type="text">
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>