<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />

</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <br>
    <h2>All quizzes</h2>
    <p>Each quiz contains questions, you get 1 point for each correct answer, at the end of each quiz you get your total
        score.</p>
    <p>When you finish the quiz, you can go through each question with the correct answer.</p>
    <div class="row mb-4">
        <div th:each="quiz : ${quizzes}" class="col-sm-4 text-center">
            <div class="card bg-body text-body mt-4">
                <div class="card-body">
                    <br>
                    <h4 th:text="${quiz.getTitle()}" class="card-title">Quiz title</h4>
                    <br>
                    <p class="card-text">
                        <span th:text="${quiz.getDescription()}"></span>
                    </p>
                    <br>
                    <a th:href="@{/quiz/{id} (id = ${quiz.id})}" class="btn btn-success" role="button">Quiz page</a>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>