<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/login}" method="post">
    <h3>Login page</h3>
    <p th:if="${param.logout}">You have been logged out.</p>
    <p th:if="${param.error}">Invalid username and password.</p>
    <table>
        <tr>
            <td>Email:</td>
            <td><input type="email" name="email" required/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" required/></td>
        </tr>
        <tr>
            <td><button type="submit">Login</button></td>
        </tr>
    </table>
</form>
</body>
</html>