<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h1 th:text="${quiz.getTitle()}" class="display-4 mt-4">Quiz title</h1>
    <div class="card mt-4">
        <h5 class="card-header">
            Question <span th:text="${questionNumber + 1}">n</span> of <span th:text="${questionTotalPages}">n</span>:
        </h5>
        <div class="card-body">
            <h5 th:text="${question.getTitle()}" class="card-title">Lorem ipsum dolor sit amet?</h5>
            <form class="mt-4" th:action="@{/answer}" method="post">
                <input type="hidden" th:value="${sessionId}" name="sessionId">
                <input type="hidden" th:value="${question.getId()}" name="questionId">
                <input type="hidden" th:value="${questionNumber + 1}" name="questionNumber">
                <input type="hidden" th:value="${questionTotalPages}" name="questionTotalPages">
                <div th:each="answer : ${question.getAnswers()}" class="custom-control custom-radio mt-1 mb-1">
                    <input type="radio" th:id="${answer.getId()}" name="userAnswerId" class="custom-control-input" th:value="${answer.getId()}" />
                    <label th:text="${answer.getText()}" class="custom-control-label" th:for="${answer.getId()}">answer text</label>
                </div>

                <button th:text="(${questionNumber + 1 == questionTotalPages} ? 'Finish' : 'Next')" type="submit" class="btn btn-primary mt-4">Next</button>
            </form>
        </div>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>