<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h2 class="mt-3 display-4">Create new question!</h2>
    <br>
    <div>
        <form action="#" th:action="@{/question/add}" th:object="${questionForm}" method="post">
            <div class="form-group">
                <label for="title">Question title</label>
                <textarea  th:field="*{title}" type="text" th:class="${titleError != null ? 'form-control is-invalid' : 'form-control'}" id="title" placeholder="Enter title"></textarea>
                <div th:if="${titleError != null}" th:text="${titleError}" class="invalid-feedback"></div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Quizzes</label>
                </div>
                <select th:field="*{quizId}" th:class="${quizIdError != null ? 'custom-select is-invalid' : 'custom-select'}" id="inputGroupSelect01">
                    <option th:each="quiz : ${quizzes}" th:value="${quiz.getId()}" th:text="${quiz.getTitle()}"></option>
                </select>
                <div th:if="${quizIdError != null}" th:text="${quizIdError}" class="invalid-feedback"></div>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>