<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
</head>
<body>
<div class="container">
    <h1 th:text="${quiz.getTitle()}" class="display-4 mt-4">Quiz title</h1>
    <div class="card mt-4">
        <h5 class="card-header">
            Question <span th:text="${question.getNumber()}">n</span> of <span th:text="${question.getTotalPages()}">n</span>:
        </h5>
        <div class="card-body">
            <h5 th:text="${question.getContent().get(0).getTitle()}" class="card-title">Lorem ipsum dolor sit amet?</h5>
            <form class="mt-4" action="">
                <div th:each="answer : question.getContent().get(0).getAnswers()" class="custom-control custom-radio mt-1 mb-1">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label th:text="${answer.getText()}" class="custom-control-label" for="customRadio1">answer text</label>
                </div>
                <a href="#" class="btn btn-primary mt-4">Next</a>
            </form>
        </div>
    </div>
</div>

<table>
    <thead>
    <tr>
        <th> All questions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${questions.isEmpty()}">
        <td colspan="2"> No questions available </td>
    </tr>
    <tr th:each="question : ${questions}">
        <td><span th:text="${question.title}"> Title </span></td>
        <td th:if="${question.getAnswers().isEmpty()}" colspan="2"><span> no answers available</span>
            <a th:href="@{/answer/add/{id} (id = ${question.getId()})}">add</a>
        </td>
        <td th:each="answer : ${question.getAnswers()}">
            <span th:text="${answer.getText()}">  </span>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/question/add/{id} (id = ${quizId})}">add question</a>
</body>
</html>