<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h2 class="mt-3 display-4">Edit <span th:text="${question.getTitle()}" ></span>!</h2>
    <br>
    <div>
        <form action="#" th:action="@{/question/edit}" method="post">
            <div class="form-group">
                <label for="title">Question title</label>
                <textarea  name="title" type="text" class="form-control" id="title" th:text="${question.getTitle()}"></textarea>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Quizzes</label>
                </div>
                <select name="quizId" class="custom-select" id="inputGroupSelect01">
                    <option th:text="${question.getQuiz().getTitle()}" th:value="${question.getQuiz().getId()}" selected>Choose quiz...</option>
                    <option th:each="quiz : ${quizzes}" th:value="${quiz.getId()}" th:text="${quiz.getTitle()}">One</option>
                </select>
            </div>
            <input type="hidden" name="questionId" th:value="${question.getId()}">
            <button type="submit" class="btn btn-primary">Edit!</button>
        </form>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>