<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h1 class="mt-4" th:text="${quiz.getTitle()}">Quiz title</h1>
    <p th:text="${quiz.getDescription()}">Quiz desc</p>
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-body text-body">
                <div class="card-body">
                    <h4 class="card-title display-4">Start the quiz</h4>
                    <p class="card-text">
                        Good luck!
                    </p>
                    <a th:href="@{/quiz/{id}/start (id = ${quiz.getId()})}" class="btn btn-success" href="#" role="button">Start the <span th:text="${quiz.getTitle()}">Quiz title</span> quiz</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>