<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h1 class="mt-4" th:text="${'Title: ' + quiz.getTitle()}">Quiz title</h1>
    <br>
    <p th:text="${'Description: ' + quiz.getDescription()}">Quiz desc</p>
    <p th:text="${'Count of questions: ' + questionAmount}">Question amount</p>
    <a th:href="@{/quiz/{id}/start (id = ${quiz.getId()})}" class="btn btn-success" href="#" role="button">Start the <span th:text="${quiz.getTitle()}">Quiz title</span> quiz</a>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>