<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h1 class="mt-5"></h1>
    <div class="text-center">
        <h1 class="mt-5">Result:</h1>
        <p><span th:text="${correctAmount}"></span> of <span th:text="${totalAmount}"></span></p>
        <p th:text="${percentageAmount + ' %'}"></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, consequatur.</p>
        <div class="mt-4">
            <a href="#" th:href="@{/quiz/check/{code} (code = ${code})}" class="btn btn-success disabled" role="button">Check your answers</a><a th:href="@{/}" class=" ml-2 btn btn-primary" role="button">Back to Quizzes</a>
        </div>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>