<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link rel="stylesheet" href="../static/libs/bootstrap-4.0.0/css/bootstrap.min.css"
          th:href="@{/libs/bootstrap-4.0.0/css/bootstrap.min.css}">
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: header"></div>
<!--Content-->
<div class="container">
    <div class="row justify-content-between mt-5">
        <h2 class="col-4">Manage your quizzes!</h2>
        <div class="col-2">
            <a th:href="@{/quiz/add}" href="#" class="btn btn-primary">Add quiz</a>
        </div>
    </div>

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Questions</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz : ${quizzes}">
            <th th:text="${quiz.getId()}" scope="row">Id</th>
            <td th:text="${quiz.getTitle()}">Quiz title</td>
            <td th:text="${quiz.getDescription()}">Quiz desc</td>
            <td><a th:text="${quiz.getQuestions().size()}" th:href="@{/question/manage/{id} (id = ${quiz.getId()})}" href="#"></a></td>
            <td>User</td>
            <td><a th:href="@{/quiz/edit/{id} (id = ${quiz.getId()})}">Edit</a></td>
        </tr>
    </table>
</div>
<script src="../static/libs/popper-1.14.7/popper.min.js" th:src="@{/libs/popper-1.14.7/popper.min.js}"></script>
<script src="../static/libs/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/libs/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
<script src="../static/libs/bootstrap-4.0.0/js/bootstrap.min.js" th:src="@{/libs/bootstrap-4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>