<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/quiz}" th:object="${quizForm}" method="post">
            <input type="text" th:field="*{title}" />
            <button type="submit"> Add new quiz</button>
        </form>
    </div>

    <table>
        <thead>
        <tr>
            <th> All quizzes </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${quizzes.isEmpty()}">
            <td colspan="2"> No quizzes Available </td>
        </tr>
        <tr th:each="quiz : ${quizzes}">
            <td><span th:text="${quiz.title}"> Title </span></td>
            <td><a th:href="@{/quiz/{id} (id = ${quiz.id})}">start quiz</a></td>
        </tr>
        </tbody>
    </table>
</body>
</html>