<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Demo quiz app</title>
    <link th:replace="fragments/libs :: css" />
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <h2 class="mt-3 display-4">Create new quiz!</h2>
    <br>
    <div>
        <form action="#" th:action="@{/quiz/add}" th:object="${quizForm}" method="post">
            <div class="form-group">
                <label for="quizTitle">Quiz title</label>
                <input th:field="*{title}" type="text" th:class="${titleError != null ? 'form-control is-invalid' : 'form-control'}" id="quizTitle" placeholder="Enter title">
                <div th:if="${titleError != null}" th:text="${titleError}" class="invalid-feedback"></div>
            </div>
            <div class="form-group">
                <label for="quizDescription">Quiz description</label>
                <textarea  th:field="*{description}" type="text" th:class="${descriptionError != null ? 'form-control is-invalid' : 'form-control'}" id="quizDescription" placeholder="Enter description"></textarea>
                <div th:if="${descriptionError != null}" th:text="${descriptionError}" class="invalid-feedback"></div>
            </div>
            <input type="hidden" th:value="${user.getId()}" name="authorId">
            <button type="submit" class="btn btn-primary">Create!</button>
        </form>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>