<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link th:replace="fragments/libs :: css"/>
</head>
<body>
<!--Header here-->
<div th:replace="fragments/header :: nav"></div>
<!--Content-->
<div class="container">
    <div class="mt-5 row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <header class="card-header">
                    <a th:href="@{/login}" href="#" class="float-right btn btn-outline-primary mt-1">Log in</a>
                    <h4 class="card-title mt-2">Registration</h4>
                </header>
                <article class="card-body">
                    <form th:action="@{/signup}" method="post">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="nickname">Nickname: </label>
                                <input th:value="${form.getNickname() != null ? form.getNickname() : ''}" th:class="${nicknameError != null ? 'form-control is-invalid' : 'form-control'}" id="nickname" name="nickname" type="text" placeholder="Vadym" />
                                <div th:if="${nicknameError != null}" th:text="${nicknameError}" class="invalid-feedback"></div>
                            </div>
                            <div class="col form-group">
                                <label for="email">Email address:</label>
                                <input th:value="${form.getEmail() != null ? form.getEmail() : ''}" th:class="${emailError != null ? 'form-control is-invalid' : 'form-control'}" id="email" name="email" type="text" />
                                <div th:if="${emailError != null}" th:text="${emailError}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass">Password:</label>
                            <input th:class="${passwordError != null ? 'form-control is-invalid' : 'form-control'}" class="form-control" id="pass" name="password" type="password">
                            <div th:if="${passwordError != null}" th:text="${passwordError}" class="invalid-feedback"></div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register</button>
                        </div>
                    </form>
                </article>
                <div class="border-top card-body text-center">Have an account? <a th:href="@{/login}" href="#">Log
                    In</a></div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments/libs :: js"></script>
</body>
</html>