<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<!--<div th:if = "${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if = "${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->

<form th:action = "@{/singup}" method = "post">
    <div>
        <label> User Name : <input type = "text" name = "name"/> </label>
    </div>
    <div>
        <label> User Surname : <input type = "text" name = "surname"/> </label>
    </div>
    <div>
        <label> User email : <input type = "email" name = "email"/> </label>
    </div>
    <div>
        <label> Password: <input type = "password" name = "password"/> </label>
    </div>
    <div>
        <input type = "submit" value = "Sign Up"/>
    </div>
</form>
</body>
</html>