<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Topic #</title>
</head>
<body>
<h3>All topic</h3>
<table>
<!--    <tr th:each="test: ${allTests}">-->
<!--        <td th:text="${test.getTitle()}"></td>-->
<!--        <td th:text="${test.author.getName()}"></td>-->
<!--        <td><a th:href="@{/test/{id} (id = ${test.getId()})}">view all questions</a></td>-->
<!--    </tr>-->
</table>
<!--<a th:href="@{/test/add/{id} (id = ${test.getId()}}">Add new test</a>-->
</body>
</html>